body{
	background-image: url("images/bg/wavegrid.png");
	font-family:'Open Sans Condensed',sans-serif;
	font-size: 16px;
}

#content1 {
    margin-left: 0;
    margin-right: 0;
}

a { outline: none !important; color: #FFFFFF; font-weight: bold; }
a:hover { color: #999999 }

#encabezado{
	color: #EFEFEF;
}

/* LOGIN */

#login{
	padding-top: 14px;
}

.ui-widget {
    font-family:'Open Sans Condensed',sans-serif !important;
}

.ui-dialog{
	font-size: 0.95em !important;
}

.ui-dialog button{
	font-size: 0.8em !important;
}

.welcome-message {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #cccccc;
    font-size: 0.65em;
	line-height: 12px;
    text-align: right;
}

.hidden-desktop .welcome-message {
	margin-left: 60px;
}

/* APP */

.itemList{
}

.itemContent{
	
}

/* LEVEL 1 */

#itemContentL1 #resume{
	background-color: #FFFFFF;
	text-align: center;
	padding: 20px 5px;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: default;
}

.resume-value{
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 0;
}

.success{
	color: #83c65d;
}

.error{
	color: #b23b51;
}

.info{
	color: #3d6a91;
}



/* GENERIC */

.floatLeft{
    position: relative;
    float: left;
}

.right-separator{
	border-right: 1px dotted #dddddd;
}


